@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <ul>
        <li>@*@Html.DisplayNameFor(model => model.Genre)*@ @Html.DisplayName("Genre"):@Model.Genre.Name</li>
        <li>@Html.DisplayNameFor(model => model.ReleaseDate):@Html.Display("ReleaseDate")</li>
    </ul>
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.Id)


        </dd>*@

    @*</dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
